* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --verde: #16b83e;
    --verde-escuro: #129b35;
    --amarelo: #FFE11F;
    --amarelo-escuro: #d3ba1c;
    --azul: #1651B8;
    --azul-escuro: #124194;
}

.container-box {
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
}