@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --verde: #16b83e;
    --verde-escuro: #129b35;
    --amarelo: #FFE11F;
    --amarelo-escuro: #d3ba1c;
    --azul: #1651B8;
    --azul-escuro: #124194;
}

.container-box {
    padding: 80px 50px 0px 50px;
}

@media (max-width: 1235px) {
    .container-box {
        padding: 80px 25px 0px 25px;
    }
}